.magazine {
  margin: 2.25% auto !important;
  user-select: none;
}

@media (max-width: 762px) {
  .magazine {
    margin: 16% auto !important;
  }
}

/* @media (max-width: 500px) {
  .magazine {
    margin: 23% auto !important;
  }
} */

.magazine .page {
  height: 100%;
  /* text-align: center; */
}

.magazine .page img {
  max-width: 100%;
  height: 100%;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #333;
}

body.hide-overflow {
  overflow: hidden;
}

/* helpers */

.t {
  display: table;
  width: 100%;
  height: 100%;
}

.tc {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.rel {
  position: relative;
}

img.navigation {
  font-family: "Montserrat";
  position: fixed;
  z-index: 999999999999;
  top: 50%;
  border-radius: 50%;
  background: "./SVG/circle.svg";
  width: 50px;
  background: #fff;
}

img.navigation:hover {
  cursor: pointer;
}

img.next {
  right: 2%;
}

img.prev {
  left: 2%;
  transform: rotate(180deg);
}

.stf__parent {
  display: grid!important;
  place-items: center!important;
}


@media screen and (max-width: 1050px) {
  .stf__wrapper {
    width: 100%!important;
  }
}
